-- FIFO Inventory System Implementation
-- This script creates a full FIFO inventory tracking system

-- Step 1: Create product_batches table for FIFO tracking
CREATE TABLE IF NOT EXISTS public.product_batches (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    product_id UUID NOT NULL REFERENCES public.products(id) ON DELETE CASCADE,
    user_id UUID NOT NULL REFERENCES auth.users(id),
    batch_reference TEXT,
    purchase_date TIMESTAMPTZ NOT NULL,
    quantity_purchased INTEGER NOT NULL CHECK (quantity_purchased > 0),
    cost_per_unit DECIMAL(10, 2) NOT NULL CHECK (cost_per_unit >= 0),
    quantity_remaining INTEGER NOT NULL CHECK (quantity_remaining >= 0),
    created_at TIMESTAMPTZ DEFAULT NOW(),
    
    CONSTRAINT fk_user FOREIGN KEY (user_id) REFERENCES auth.users(id),
    CONSTRAINT quantity_check CHECK (quantity_remaining <= quantity_purchased)
);

-- Add indexes for efficient FIFO lookup
CREATE INDEX IF NOT EXISTS idx_product_batches_fifo_lookup 
ON public.product_batches (user_id, product_id, purchase_date ASC);

CREATE INDEX IF NOT EXISTS idx_product_batches_remaining 
ON public.product_batches (user_id, product_id, quantity_remaining);

-- Enable RLS on product_batches
ALTER TABLE public.product_batches ENABLE ROW LEVEL SECURITY;

-- RLS Policies for product_batches
CREATE POLICY "Users can view their own product batches"
ON public.product_batches FOR SELECT
USING (auth.uid() = user_id);

CREATE POLICY "Users can insert their own product batches"
ON public.product_batches FOR INSERT
WITH CHECK (auth.uid() = user_id);

CREATE POLICY "Users can update their own product batches"
ON public.product_batches FOR UPDATE
USING (auth.uid() = user_id);

CREATE POLICY "Users can delete their own product batches"
ON public.product_batches FOR DELETE
USING (auth.uid() = user_id);

-- Add comments for documentation
COMMENT ON TABLE public.product_batches IS 'Stores individual purchase batches (lots) of products for FIFO tracking.';
COMMENT ON COLUMN public.product_batches.purchase_date IS 'The date the batch was acquired, used for FIFO ordering.';
COMMENT ON COLUMN public.product_batches.cost_per_unit IS 'The specific cost per unit for items within this batch.';
COMMENT ON COLUMN public.product_batches.quantity_remaining IS 'The current number of units available from this specific batch.';

-- Step 2: Drop old triggers and functions related to inventory aggregation
DROP TRIGGER IF EXISTS update_stock_value_trigger ON public.products;
DROP FUNCTION IF EXISTS public.update_stock_value();

DROP TRIGGER IF EXISTS update_products_from_orders_trigger ON public.orders;
DROP FUNCTION IF EXISTS public.update_products_from_orders();

DROP FUNCTION IF EXISTS public.reset_product_quantities(UUID);

-- Step 3: Modify products table to remove aggregate inventory columns
ALTER TABLE public.products
DROP COLUMN IF EXISTS quantity,
DROP COLUMN IF EXISTS cost_per_item,
DROP COLUMN IF EXISTS purchase_date,
DROP COLUMN IF EXISTS sales_qty,
DROP COLUMN IF EXISTS available_qty,
DROP COLUMN IF EXISTS per_qty_price,
DROP COLUMN IF EXISTS stock_value;

-- Update comment to reflect changes
COMMENT ON TABLE public.products IS 'Stores product definitions and metadata (SKU, name, image). Stock levels are tracked in product_batches.';

-- Drop triggers that update sales_qty 
DROP TRIGGER IF EXISTS update_sales_qty_insert_trigger ON public.sales;
DROP TRIGGER IF EXISTS update_sales_qty_update_trigger ON public.sales;
DROP TRIGGER IF EXISTS update_sales_qty_delete_trigger ON public.sales;
DROP FUNCTION IF EXISTS public.update_product_sales_qty();

-- Ensure composite unique constraint exists
ALTER TABLE public.products DROP CONSTRAINT IF EXISTS products_user_id_product_sku_key;
ALTER TABLE public.products ADD CONSTRAINT products_user_id_product_sku_key UNIQUE (user_id, product_sku);

-- Step 4: Modify orders table to support FIFO costing
ALTER TABLE public.orders
ADD COLUMN IF NOT EXISTS actual_cogs_per_unit DECIMAL(12, 2);

COMMENT ON COLUMN public.orders.actual_cogs_per_unit IS 'The actual cost per unit calculated based on FIFO batch consumption.';

-- Redefine generated columns to use actual_cogs_per_unit
ALTER TABLE public.orders
DROP COLUMN IF EXISTS product_cost_total,
DROP COLUMN IF EXISTS net_profit,
DROP COLUMN IF EXISTS roi;

ALTER TABLE public.orders
ADD COLUMN product_cost_total DECIMAL(12, 2) GENERATED ALWAYS AS (
    COALESCE(actual_cogs_per_unit, product_cost_per_unit) * order_quantity
) STORED,
ADD COLUMN net_profit DECIMAL(12, 2) GENERATED ALWAYS AS (
    (walmart_price_per_unit * order_quantity + walmart_shipping_fee_per_unit * order_quantity)
    - (COALESCE(actual_cogs_per_unit, product_cost_per_unit) * order_quantity)
    - fulfillment_cost
    - ((walmart_price_per_unit * order_quantity + walmart_shipping_fee_per_unit * order_quantity) * 0.08)
) STORED,
ADD COLUMN roi DECIMAL(10, 2) GENERATED ALWAYS AS (
    CASE
        WHEN (fulfillment_cost + (COALESCE(actual_cogs_per_unit, product_cost_per_unit) * order_quantity) + 
              ((walmart_price_per_unit * order_quantity + walmart_shipping_fee_per_unit * order_quantity) * 0.08)) = 0 
        THEN 0
        ELSE (
            (
                (walmart_price_per_unit * order_quantity + walmart_shipping_fee_per_unit * order_quantity)
                - (COALESCE(actual_cogs_per_unit, product_cost_per_unit) * order_quantity)
                - fulfillment_cost
                - ((walmart_price_per_unit * order_quantity + walmart_shipping_fee_per_unit * order_quantity) * 0.08)
            )
            /
            (
                fulfillment_cost
                + (COALESCE(actual_cogs_per_unit, product_cost_per_unit) * order_quantity)
                + ((walmart_price_per_unit * order_quantity + walmart_shipping_fee_per_unit * order_quantity) * 0.08)
            )
        ) * 100
    END
) STORED;

-- Step 5: Create FIFO function to consume batches and calculate COGS
CREATE OR REPLACE FUNCTION public.consume_product_batch()
RETURNS TRIGGER AS $$
DECLARE
    product_record RECORD;
    batch_record RECORD;
    quantity_needed INTEGER := NEW.order_quantity;
    quantity_fulfilled INTEGER := 0;
    quantity_to_take INTEGER;
    total_cost DECIMAL(12, 2) := 0;
    calculated_cogs DECIMAL(12, 2) := 0;
    product_id_var UUID;
BEGIN
    -- Find the product ID based on SKU and user_id
    SELECT id INTO product_id_var
    FROM public.products
    WHERE product_sku = NEW.sku AND user_id = NEW.user_id;

    IF product_id_var IS NULL THEN
        RAISE EXCEPTION 'Product with SKU % not found for user %', NEW.sku, NEW.user_id;
    END IF;

    -- Loop through available batches for the product, oldest first
    FOR batch_record IN
        SELECT id, quantity_remaining, cost_per_unit
        FROM public.product_batches
        WHERE product_id = product_id_var
          AND user_id = NEW.user_id
          AND quantity_remaining > 0
        ORDER BY purchase_date ASC
        -- Lock rows to prevent concurrent updates interfering
        FOR UPDATE
    LOOP
        -- Determine quantity to take from this batch
        quantity_to_take := LEAST(quantity_needed - quantity_fulfilled, batch_record.quantity_remaining);

        -- Update the batch's remaining quantity
        UPDATE public.product_batches
        SET quantity_remaining = quantity_remaining - quantity_to_take
        WHERE id = batch_record.id;

        -- Accumulate cost and fulfilled quantity
        total_cost := total_cost + (quantity_to_take * batch_record.cost_per_unit);
        quantity_fulfilled := quantity_fulfilled + quantity_to_take;

        -- Exit loop if order quantity is met
        IF quantity_fulfilled >= quantity_needed THEN
            EXIT;
        END IF;
    END LOOP;

    -- Check if enough stock was available
    IF quantity_fulfilled < quantity_needed THEN
        RAISE EXCEPTION 'Insufficient stock for product SKU % (Needed: %, Available: %). Order ID: %',
            NEW.sku, quantity_needed, quantity_fulfilled, NEW.order_id;
    END IF;

    -- Calculate the Cost of Goods Sold per unit for this order
    IF quantity_fulfilled > 0 THEN
        calculated_cogs := total_cost / quantity_fulfilled;
    ELSE
        calculated_cogs := 0; -- Should not happen if exception is raised above
    END IF;

    -- Update the order with the calculated COGS
    -- Note: We must use NEW to reference the current row in an AFTER trigger
    UPDATE public.orders
    SET actual_cogs_per_unit = calculated_cogs
    WHERE order_id = NEW.order_id AND sku = NEW.sku AND user_id = NEW.user_id;

    RETURN NEW;
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

-- Grant execute permission
GRANT EXECUTE ON FUNCTION public.consume_product_batch() TO authenticated, service_role;

-- Create trigger to execute FIFO logic after order insert
DROP TRIGGER IF EXISTS fifo_order_trigger ON public.orders;
CREATE TRIGGER fifo_order_trigger
AFTER INSERT ON public.orders
FOR EACH ROW
EXECUTE FUNCTION public.consume_product_batch();

-- Step 6: Create views for inventory summary
CREATE OR REPLACE VIEW public.inventory_summary_view AS
SELECT
    p.id AS product_id,
    p.user_id,
    p.product_sku,
    p.product_name,
    p.image_url,
    p.supplier,
    p.product_link,
    p.status AS product_status,
    p.remarks,
    p.created_at AS product_created_at,
    COALESCE(SUM(pb.quantity_remaining), 0) AS total_available_quantity,
    COALESCE(SUM(pb.quantity_remaining * pb.cost_per_unit), 0) AS total_stock_value,
    CASE
        WHEN SUM(pb.quantity_remaining) > 0 THEN
            SUM(pb.quantity_remaining * pb.cost_per_unit) / SUM(pb.quantity_remaining)
        ELSE 0
    END AS average_cost_per_unit,
    MIN(pb.purchase_date) FILTER (WHERE pb.quantity_remaining > 0) AS oldest_batch_date,
    COUNT(pb.id) FILTER (WHERE pb.quantity_remaining > 0) AS active_batch_count
FROM
    public.products p
LEFT JOIN
    public.product_batches pb ON p.id = pb.product_id AND p.user_id = pb.user_id
GROUP BY
    p.id, p.user_id
ORDER BY
    p.product_name;

-- Create view for batch details (for when user clicks on product)
CREATE OR REPLACE VIEW public.product_batch_details_view AS
SELECT
    pb.id AS batch_id,
    pb.product_id,
    p.product_sku,
    p.product_name,
    pb.user_id,
    pb.batch_reference,
    pb.purchase_date,
    pb.quantity_purchased,
    pb.quantity_remaining,
    pb.cost_per_unit,
    (pb.quantity_remaining * pb.cost_per_unit) AS batch_value,
    pb.created_at AS batch_created_at
FROM
    public.product_batches pb
JOIN
    public.products p ON pb.product_id = p.id AND pb.user_id = p.user_id
ORDER BY
    p.product_name, pb.purchase_date ASC;

-- Grant select permissions on views
GRANT SELECT ON public.inventory_summary_view TO postgres, anon, authenticated, service_role;
GRANT SELECT ON public.product_batch_details_view TO postgres, anon, authenticated, service_role;

-- Add comments for documentation
COMMENT ON VIEW public.inventory_summary_view IS 'Aggregated view of product inventory, summarizing data from product_batches for each product.';
COMMENT ON VIEW public.product_batch_details_view IS 'Detailed view of individual product batches for FIFO tracking.';
